name: Animated Doodle - Pipeline

on:
  push:
    branches:
      - main

# environment variables
env:
  ANIMATED_DOODLE_TOKEN: ${{ secrets.ANIMATED_DOODLE_TOKEN }}

# jobs to be execute by the pipiline
jobs:
  lint:
    if: github.event_name != 'delete'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: "npm"
      - name: Install Dependencies
        run: npm install

      - name: Running Lint
        run: npm run lint
  test:
    if: github.event_name != 'delete'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"

      - name: Install Dependencies
        run: |
          npm install

      - name: Run Tests
        run: |
          npm run test

  build:
    if: github.event_name != 'delete'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Install Dependencies
        run: |
          mv .npmrc.build .npmrc
          npm install

      - name: Create build
        run: npm run build

      - name: Upload dist
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist

  deploy:
    if: github.ref != 'refs/heads/main' && !startsWith(github.ref, 'refs/tags')
    needs: [lint, test, build]
    runs-on: ubuntu-latest
    steps:
      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview --token=${{ secrets.ANIMATED_DOODLE_TOKEN }}

      - name: Build Project Artifacts
        run: vercel build --token=${{ secrets.ANIMATED_DOODLE_TOKEN }}

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --token=${{ secrets.ANIMATED_DOODLE_TOKEN }}
